APP_PORT=8080
POSTGRES_PORT=5432

POSTGRES_DB=taskmaster
POSTGRES_USER=taskmaster
POSTGRES_PASSWORD=taskmaster123

SPRING_PROFILES_ACTIVE=postgres

TASKMASTER_DEMO_ADMIN_EMAIL=admin@taskmaster.local
TASKMASTER_DEMO_ADMIN_PASSWORD=Admin123*
TASKMASTER_SOAP_DNI_ENDPOINT_URI=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
